In [511]:
import pandas as pd

In [ ]:
df = pd.read_csv("dataset.csv")

In [513]:
len(df)

7819

In [ ]:
df.loc[(df["comments"].isna()) & (df["rating"].isna()), ["rating", "comments"]] = ["-", "[]"]

df.loc[(df["comments"] == "[]") & (df["rating"].isna()), "rating"] = "-"

df.loc[(df["rating"] == "-") & (df["comments"].isna()), "comments"] = "[]"

df.loc[df["info"].isna(), "info"] = "-"

In [516]:
len(df[df.duplicated()])

2273

In [520]:
df = df.drop_duplicates()
print(len(df))
df.isna().sum()

5546

brand             6
product_name      6
category         13
price             6
rating            6
info            409
comments          3
dtype: int64

In [521]:
df = df.dropna()
df.isna().sum()

brand           0
product_name    0
category        0
price           0
rating          0
info            0
comments        0
dtype: int64

In [522]:
len(df)

5126

In [ ]:
df.to_csv("new_dataset.csv")